<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <springProfile name="local,local-dev,test">
        <include resource="appenders/plain-console-appender.xml"/>
        <logger name="com.wherewego" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <include resource="appenders/json-console-appender.xml"/>
        <include resource="appenders/slack-appender.xml"/>
        <include resource="properties/slack-log-dev.xml"/>
        <logger name="com.wherewego" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <!-- /properties.slack-log-dev.xml 설정 후 활성화
            <appender-ref ref="ASYNC-SLACK"/>
             -->
        </root>
    </springProfile>

    <springProfile name="prod">
        <include resource="appenders/json-console-appender.xml"/>
        <include resource="appenders/slack-appender.xml"/>
        <include resource="properties/slack-log-prod.xml"/>
        <logger name="com.wherewego" level="INFO"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <!-- /properties.slack-log-prod.xml 설정 후 활성화
            <appender-ref ref="ASYNC-SLACK"/>
             -->
        </root>
    </springProfile>
</configuration>
